<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276224518042-7439gnb720dn8nljg8tnglrh2nchv9gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276224518042-7439gnb720dn8nljg8tnglrh2nchv9gn</string>
	<key>API_KEY</key>
	<string>AIzaSyAhygQBEUz0xl2RuCxGL873-mieyq6tfkI</string>
	<key>GCM_SENDER_ID</key>
	<string>276224518042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darlproject.darlDispatch</string>
	<key>PROJECT_ID</key>
	<string>darl-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>darl-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276224518042:ios:7f6d004bded559ba737c23</string>
</dict>
</plist>